# Artificial color augmentations: includes color jitter with hue shifts
# More aggressive than natural_color - may change disease appearance

_target_: albumentations.Compose
transforms:
  - _target_: albumentations.LongestMaxSize
    max_size: ${data.image_size}
  - _target_: albumentations.PadIfNeeded
    min_height: ${data.image_size}
    min_width: ${data.image_size}
    border_mode: 0
    fill: 0
    fill_mask: 0
  - _target_: albumentations.RandomCrop
    height: ${data.image_size}
    width: ${data.image_size}
  - _target_: albumentations.RandomBrightnessContrast
    brightness_limit: 0.3
    contrast_limit: 0.3
    p: 0.5
  # Artificial color changes
  - _target_: albumentations.HueSaturationValue
    hue_shift_limit: 20
    sat_shift_limit: 30
    val_shift_limit: 30
    p: 0.5
  - _target_: albumentations.ColorJitter
    brightness: 0.3
    contrast: 0.3
    saturation: 0.3
    hue: 0.1
    p: 0.4
  - _target_: albumentations.RandomGamma
    gamma_limit:
      - 80
      - 120
    p: 0.3
  - _target_: albumentations.GaussNoise
    var_limit:
      - 10.0
      - 50.0
    p: 0.3
  - _target_: albumentations.GaussianBlur
    blur_limit:
      - 3
      - 7
    p: 0.2
  - _target_: albumentations.Normalize
    mean: ${data.normalization.mean}
    std: ${data.normalization.std}
  - _target_: albumentations.pytorch.ToTensorV2

