# Full augmentation pipeline (upper bound)

_target_: albumentations.Compose
transforms:
  - _target_: albumentations.LongestMaxSize
    max_size: ${data.image_size}
  - _target_: albumentations.PadIfNeeded
    min_height: ${data.image_size}
    min_width: ${data.image_size}
    border_mode: 0
    fill: 0
    fill_mask: 0
  - _target_: albumentations.RandomCrop
    height: ${data.image_size}
    width: ${data.image_size}
  - _target_: albumentations.HorizontalFlip
    p: 0.5
  - _target_: albumentations.VerticalFlip
    p: 0.5
  - _target_: albumentations.RandomRotate90
    p: 0.5
  - _target_: albumentations.Affine
    translate_percent:
      x:
        - -0.15
        - 0.15
      y:
        - -0.15
        - 0.15
    scale:
      - 0.8
      - 1.2
    rotate:
      - -45
      - 45
    border_mode: 0
    p: 0.5
  - _target_: albumentations.OneOf
    transforms:
      - _target_: albumentations.ElasticTransform
        alpha: 80
        sigma: 5
        p: 1.0
      - _target_: albumentations.GridDistortion
        num_steps: 5
        distort_limit: 0.2
        p: 1.0
    p: 0.25
  - _target_: albumentations.RandomBrightnessContrast
    brightness_limit: 0.2
    contrast_limit: 0.2
    p: 0.5
  - _target_: albumentations.HueSaturationValue
    hue_shift_limit: 10
    sat_shift_limit: 20
    val_shift_limit: 20
    p: 0.4
  - _target_: albumentations.GaussNoise
    std_range:
      - 0.1
      - 0.28
    p: 0.25
  - _target_: albumentations.GaussianBlur
    blur_limit:
      - 3
      - 5
    p: 0.2
  - _target_: albumentations.CoarseDropout
    num_holes_range:
      - 2
      - 8
    hole_height_range:
      - 0.06
      - 0.12
    hole_width_range:
      - 0.06
      - 0.12
    fill: 0
    p: 0.2
  - _target_: albumentations.Normalize
    mean: ${data.normalization.mean}
    std: ${data.normalization.std}
  - _target_: albumentations.pytorch.ToTensorV2
