# Full augmentation pipeline (upper bound)

_target_: albumentations.Compose
transforms:
  - _target_: albumentations.LongestMaxSize
    max_size: ${data.image_size}
  - _target_: albumentations.PadIfNeeded
    min_height: ${data.image_size}
    min_width: ${data.image_size}
    border_mode: 0
    fill: 0
    fill_mask: 0
  - _target_: albumentations.RandomCrop
    height: ${data.image_size}
    width: ${data.image_size}
  - _target_: albumentations.HorizontalFlip
    p: 0.5
  - _target_: albumentations.VerticalFlip
    p: 0.5
  - _target_: albumentations.RandomRotate90
    p: 0.5
  - _target_: albumentations.ShiftScaleRotate
    shift_limit: 0.15
    scale_limit: 0.2
    rotate_limit: 45
    border_mode: 0
    p: 0.5
  - _target_: albumentations.OneOf
    transforms:
      - _target_: albumentations.ElasticTransform
        alpha: 80
        sigma: 5
        p: 1.0
      - _target_: albumentations.GridDistortion
        num_steps: 5
        distort_limit: 0.2
        p: 1.0
    p: 0.25
  - _target_: albumentations.RandomBrightnessContrast
    brightness_limit: 0.2
    contrast_limit: 0.2
    p: 0.5
  - _target_: albumentations.HueSaturationValue
    hue_shift_limit: 10
    sat_shift_limit: 20
    val_shift_limit: 20
    p: 0.4
  - _target_: albumentations.GaussNoise
    var_limit:
      - 10.0
      - 40.0
    p: 0.25
  - _target_: albumentations.GaussianBlur
    blur_limit:
      - 3
      - 5
    p: 0.2
  - _target_: albumentations.CoarseDropout
    max_holes: 6
    max_height: 24
    max_width: 24
    min_holes: 2
    min_height: 12
    min_width: 12
    fill_value: 0
    p: 0.2
  - _target_: albumentations.Normalize
    mean: ${data.normalization.mean}
    std: ${data.normalization.std}
  - _target_: albumentations.pytorch.ToTensorV2

