/plantseg_architecture_benchmark
/plantseg_augmentation_ablation_fp32_final
/plantseg_multiclass_benchmark
/sweeps
/dfbakin_classifier_cam_benchmark
/mctformer_voc_v2

/mctformer_plantseg_multiclass
/mctformer_plantseg_binary

/spdnet_plantseg
/visualizations
/phase5_lr_fix
/phase5_highres
/spdnet_aux_losses
